<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SICOR</title>
    <link rel="stylesheet" href="/css/stylesMenu.css">
</head>
<body>
    <div>
        <h1>Bienvenido</h1>
        <p>Software administrativo para Copropiedades.</p>
        <img src="img/SICOR.png" alt="Logo-Sicor">
    </div>
</body>
</html>
